.menu-container {
  position: fixed;
  top: 42px;
  right: -350px;
  width: 350px;
  height: 100%;
  transition: right 0.7s ease;
}

.menu-icon {
  cursor: pointer;
  transition: transform 0.2s ease;
  align-items: center;
  top: 20px; /* 헤더 상단으로부터의 위치 조정 */
  right: 20px; /* 헤더 우측으로부터의 위치 조정 */
  z-index: 1000; /* 다른 요소 위에 나타나도록 z-index 설정 */
  width: 25px;
  height: 25px;
}

.menu-icon-menu,
.menu-icon-close {
  position: absolute;
  transition: transform 0.3s ease;
}

.hide {
  transform: scale(0);
}

.menu-icon:hover {
  transform: scale(1.1);
}

.menu {
  background-color: var(--color-background-light);
  color: var(--color-text);
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.menu-item {
  text-decoration: none;
  padding: 8px 0;
  font-size: 16px;
}

.menu-item:hover {
  color: #007bff;
}

.menu-container.open {
  right: 0px;
  width: 350px;
  height: 100%;
}

.GlobalMenuItem {
  border-top: 1px solid #4f5969;
}

.GlobalMenuFooter {
  border-top: 1px solid #4f5969;
  margin-top: auto;
}

.GlobalMenuFooter p {
  color: var(--color-text-light);
  font-size: 13px;
}
