/* Google Fonts import */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Righteous&family=Russo+One&family=Chakra+Petch:wght@700&family=Major+Mono+Display&display=swap");

.global-wrapper {
  max-width: 960px; /* 적절한 가로 최대 너비 설정 */
  margin: 0 auto; /* 가운데 정렬을 위해 */
  padding: 56px 20px 0; /* 콘텐츠와의 간격을 위해 */
}

.global-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #121212;
  color: #fff;
  padding: 8px 20px;
  z-index: 100;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.header-controls {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-title-link {
  text-decoration: none;
  color: #fff;
}

.header-title-link h1 {
  margin: 0;
  font-size: 1.5rem;
}

/* 메뉴 아이콘 스타일 */
.menu-icon {
  cursor: pointer;
  width: 24px;
  height: 24px;
  color: #fff;
}

.global-footer {
  text-align: center;
}
